@import "tailwindcss";
@plugin "daisyui" {
  themes: black --dark, bumblebee --light;
}

@custom-variant dark (&:where([data-theme=black], [data-theme=black] *));

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Go Mono';
  src: url('/fonts/Go-Mono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  background-color: #222;
}

body {
  font-family: 'Go Mono', monospace;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}