@import "tailwindcss";
@import 'tailwindcss/utilities';
@plugin "daisyui" {
  themes: black --dark, bumblebee --light;
}

@custom-variant dark (&:where([data-theme=black], [data-theme=black] *));
@custom-variant light (&:where([data-theme=bumblebee], [data-theme=bumblebee] *));

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Go Mono';
  src: url('/fonts/Go-Mono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  background-color: #222;
}

body {
  font-family: 'Go Mono', monospace;
  margin: 0;
  min-width: 320px;
  min-height: 100svh;
}

@utility game-button {
    @apply btn light:btn-soft btn-accent opacity-90 light:hover:bg-base-200 light:hover:text-neutral-950 duration-0;
}

.game-button-lg {
  @apply game-button w-full text-8xl p-8 flex-auto relative;
}

.game-button-lg-hint {
  @apply absolute top-[10%] text-xl;
}

.game-button-lg-group {
  @apply w-full h-full flex flex-col gap-2 items-center justify-around py-1;
}

.game-button-sm {
  @apply game-button w-full h-full text-4xl relative flex-auto;
}

.game-button-sm-hint {
  @apply absolute top-[4%] text-sm sm:text-xl;
}

.stretch {
  @apply absolute left-0 top-0 w-full h-full;
}

.face {
  @apply absolute w-full h-full border-neutral-950 dark:border-neutral-300;
  border-width: 0.01svmin;
  border-radius: 0.15svmin;
}